*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.container{
  background-image: url(./cobra-snake-game-character-vbu0895huxqiek5p.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

#board{
  border-radius: 6px;
  display: grid;
  width: 80vmin;
  height: 80vmin;
  background-color: rgba(0, 0, 0, 0.841);
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(22, 1fr);
}

.snake_head{
  /* background-color: rgb(168, 152, 11); */
  background-image: url(/image_processing20210706-12803-8oe69p.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  z-index: 100;
}

.snake_body{
  /* background-color: red; */
  background-image: url(/73f11139976542af14ff45cce845bd4d--background-designs-snake-skin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.food{
  /* border-radius: ; */
  /* background-color: blue; */
  background-position: center;
  background-image: url(/pngwing.com.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.score_container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10vmin;
  height: 10vmin;
  background-color: white;
  border: 2px solid black;
  margin: 2vmin 2vmin;
  padding: 20px;
  border-radius: 5vmin;
}

#restart{
  margin: 2vmin 2vmin;
  min-width: 10vmin;
  min-height: 5vmin;
}