*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.container{
  background-image: url(./cobra-snake-game-character-vbu0895huxqiek5p.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

#board{
  display: grid;
  width: 80vmin;
  height: 80vmin;
  background-color: rgba(0, 0, 0, 0.559);
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(22, 1fr);
}

.snake_head{
  background-color: rgb(168, 152, 11);
}

.snake_body{
  background-color: red;
}

.food{
  background-color: blue;
}
.score_container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10vmin;
  height: 10vmin;
  background-color: white;
  border: 2px solid black;
  margin: 2vmin 2vmin;
  padding: 20px;
  border-radius: 5vmin;
}

